#root {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.container{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: red;
  min-width: 500px;
  min-height: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.input {
  margin: 10px;
  min-width: 280px;
  min-height: 20px;
  border-radius: 5px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}